<header>
	<nav>
		<a  href="#">Inicio</a>
		<a  href="#">Panel</a>
		<a  href="#">Configuración</a>
	</nav>
	<div  class="icons">
		<i  class="fas fa-bell"></i>
		<i  class="fas fa-user-circle"></i>
	</div>
</header>
<div class="main-container">
    <aside class="sidebar">
        <nav>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Usuarios</a></li>
                <li><a href="#">Ajustes</a></li>
                <li><a href="#">Reportes</a></li>
                <li><a href="#">Soporte</a></li>
            </ul>
        </nav>
    </aside>
    <main class="content">
        <section>
            <h1>Fichas curriculares</h1>
            <!-- Llamada al componente de fichas curriculares-->
            <app-fichas></app-fichas>

        </section>
    </main>
</div>
<footer>
    <p>&copy; 2024 Admin Panel. Todos los derechos reservados.</p>
</footer>

<router-outlet />
